p{
    color: red;
}

h1.destacado {
    color: rgb(185, 125, 29);
    font-size: 4em;
    font-weight: lighter;
}

#list {
    color: green;
    font-size: 3em;
    font-weight: lighter;
}
a{
    color:aqua
}
a:hover{
    color: yellow;

}
p{
    color: rgb(177, 112, 0);
    font-size: 4em;
    font-weight: lighter;
}