body {
    background-color: rgba(255, 241, 160, 0.847);
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.destacado {
    color: rgb(231, 155, 155);
    font-size: 80px;
    font-weight: bold;
}

#lista {
    font-family: 'Courier New', Courier, monospace;
    border: 6px solid rgb(156, 202, 195);
    padding: 30px;
}

a {
    color: rgb(79, 175, 199);
}

a:hover {
    color: rgba(190, 76, 162, 0.838);
}
